# Force GitHub Linguist to detect ONLY Python
* linguist-detectable=false
*.py linguist-detectable=true
*.py linguist-language=Python

# Vendor & ignore all web assets
galles_visualizer/** linguist-vendored
galles_visualizer/** linguist-documentation
galles_visualizer/** linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
